<div
  style="
    display: flex;
    justify-content: center;
    gap: 3rem;
    padding: 2rem 0rem 2rem 0rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  "
>
  <div style="display: flex; flex-direction: column; align-items: center">
    <div routerLinkActive="active">
      <button
        routerLink="/photos"
        color="primary"
        mat-fab
        aria-label="icon-button with a photos icon"
      >
        <mat-icon>photo</mat-icon>
      </button>
    </div>
    <div style="margin-top: 1rem; letter-spacing: 2px">
      <p>PHOTOS</p>
    </div>
  </div>
  <div
    style="
      display: flex;
      flex-direction: column;
      align-items: center;
   
    "
  >
    <div routerLinkActive="active">
      <button
        routerLink="/favorites"
        color="primary"
        mat-fab
        aria-label="icon-button with a heart icon"
      >
        <mat-icon>favorite</mat-icon>
      </button>
    </div>
    <div style="margin-top: 1rem; letter-spacing: 2px">
      <p>FAVORITES</p>
    </div>
  </div>
</div>
