body {
  height: 50vh;
}

.container {
    display: grid; 
    place-items: center;
    grid-template-columns:  1fr 1fr; 
    grid-template-rows:  1fr 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      ". ."
      ". ."
   
  }

  div > img {
    width: auto;
    height : auto;
    max-height: 100%;
    max-width: 100%;
    object-fit: cover;
}