<!-- <div style="display: grid; place-items: center; gap: 1rem; margin: 2rem">
    <mat-spinner [diameter]="30" *ngIf="isLoading"></mat-spinner>
  </div> -->
<div class="container">
  <div
    style="padding: 4rem; width: 100px"
    *ngFor="let favorite of favorites; trackBy: trackFn"
  >
    <div *ngIf="favorite" style="min-width: 200px; position: relative">
      <!-- routerLink="/photo:id" -->
      <button
        (click)="singlePhotoView(favorite)"
        class="button-icon"
        mat-fab
        color="primary"
      >
        <mat-icon class="button-icon" style="transform: scale(0.9)" color="dark"
          >image</mat-icon
        >
      </button>
      <img [src]="favorite.photoUrl" />
    </div>
  </div>
</div>
<div
  *ngIf="favorites && !favorites.length"
  style="display: grid; place-items: center; padding: 5rem"
>
  <h2 style="letter-spacing: 2px; text-transform: uppercase">
    No favorites dogs here!!!
    Come on give some love...
  </h2>
  <div style="width: 300px">
    <ng-lottie
      *ngIf="animationPlaying"
      (domLoaded)="startPlaying()"
      (animationCreated)="animationCreated($event)"
      (loopComplete)="animationLoopCompleted($event)"
      (error)="animationError($event)"
      style="z-index: 100"
      [options]="animationDogOptions"
    >
    </ng-lottie>
  </div>
</div>

<!-- <app-single-photo [favorite]="favorite"></app-single-photo> -->
