<!-- <div style="display: grid; place-items: center; gap: 1rem; margin: 2rem">
    <mat-spinner [diameter]="30" *ngIf="isLoading"></mat-spinner>
  </div> -->
<div class="container">
  <div
    style="padding: 4rem; width: 70%"
    *ngFor="let favorite of favoritesList; trackBy: trackFn"
  >
    <div *ngIf="favorite" style="min-width: 200px; position: relative">
      <button
        routerLink="/photo:id"
        (click)="singlePhotoView(favorite)"
        class="button-icon"
        mat-fab
        color="primary"
      >
        <mat-icon class="button-icon" style="transform: scale(0.9)" color="dark"
          >image</mat-icon
        >
      </button>
      <img [src]="favorite.photo" />
    </div>
  </div>
</div>
<div
  *ngIf="favoritesList && !favoritesList.length"
  style="display: grid; place-items: center; padding: 5rem"
>
  <p style="letter-spacing: 2px;  font-weight: 400">
    No favorites dogs here!!! Come on give us some love...
  </p>
  <div style="width: 400px">
    <ng-lottie
      *ngIf="animationPlaying"
      (domLoaded)="startPlaying()"
      (animationCreated)="animationCreated($event)"
      (loopComplete)="animationLoopCompleted($event)"
      (error)="animationError($event)"
      style="z-index: 100"
      [options]="animationDogOptions"
    >
    </ng-lottie>
  </div>
</div>

<app-single-photo
  (removeItemEvent)="setNewFavoritesArray($event)"
></app-single-photo>
